<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="/images/weather.png">
  <title>Help</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
  <p>If you have any questions, feel free to send me an email at <a href="mailto:moustaphasamake@mail.com">moustaphasamke@gmail.com</a></p>
  </div>
  
  {{>footer}}
</body>

</html>